<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h1>BigTasker</h1>

    <h2>Login</h2>

    <form method="POST">

        <label>Email:</label>
        <input type="email" name="email">

        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

    <br>

    <a href="/cadastro">
        Criar conta
    </a>

</body>
</html>